<?xml version="1.0" ?>
<robot name="ikea_stefan_long">
  <link name="object_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".2"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="ikea_stefan_long.stl" scale="1 1 1"/>
      </geometry>
       <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
      <mesh filename="ikea_stefan_long.stl" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>