<robot name="ikea_stefan_short">
	<link name="_name">
		<visual>
			<origin rpy="0 0 0" xyz="3.987742883805094e-06 -3.654068724327534e-05 -0.009991225632651327" />
			<geometry>
				<mesh filename="package://assembly_knowledge/models/obj/ikea_stefan_short.obj" scale="1 1 1" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://assembly_knowledge/models/vhacd/ikea_stefan_short_vhacd.obj" scale="1 1 1" />
			</geometry>
		<origin rpy="0 0 0" xyz="3.987742883805094e-06 -3.654068724327534e-05 -0.009991225632651327" /></collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>